<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.company.admin">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Admin">
        <activity android:name=".OrderDetail"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Admin.NoActionBar">

        </activity>
        <activity android:name=".LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StaffDetail"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CustomStaffRecyclerView"
            android:parentActivityName=".OrderDetail" >
        </activity>
        <activity
            android:name=".NewStaff"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ProductDetail"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NewProduct"
            android:parentActivityName=".MainActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>